h1,h3,p{
  margin:0;
  color: #fafafa;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body{
  background-color: #14202b;
}
/* custom-date */
.custom-date span{
  padding: 10px;
  background: #213547;
  color: #fff;
  border-radius: 7px;
  margin:5px 0;
  display: inline-block;
}
/* date-wrapper */
.date-wrapper{
  padding: 20px;
  background: #14202b;
  border-radius: 10px;
}

.clock-title p{
  margin-top: 10px;
}
.custom-date span{
  width: 100%;
}

/* custom-date */
.custom-time span{
  padding: 10px;
  background: #213547;
  color: #fff;
  border-radius: 7px;
  margin:5px 0;
  display: inline-block;
}
.custom-time span{
  width: 100%;
}